body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#e6dcdc;
    margin: 0;
    padding: 0;

    /*Border/Sprinkles?*/
    border: 15px dotted;
    border-image:repeating-linear-gradient(
        90deg,
        #ff69b4 0,
        #bce663 10px,
        #7f50ab 10px,
        rgb(121, 197, 227) 20px
    )30;
}