.logo {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffc0de;
    margin: 10px;
    padding: 10px;

    /*Border/Sprinkles?*/
    border: 15px dotted;
    border-image:repeating-linear-gradient(
        45deg,
        #ff69b4 0,
        #bce663 10px,
        #7f50ab 10px,
        rgb(121, 197, 227) 20px
    )25;
}

/*Header*/
header {
    max-width: 80%;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
}

main {
    max-width: 80%;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
}

footer {
    background-color:#ade6f3;
    max-width: 80%;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
}